{% extends "layout.html" %}
{% block content %}

<h1>Bird sightings:</h1>
<hr>
<!-- List all sightings. -->
{% for sighting in sightings %}

    <!-- Sighting info. -->
    <h3>
        <a href="/sighting/{{sighting.id}}"> {{ sighting.bird_name }} </a>
    </h3>
    <p>
        <i>User:</i> <a href="/profile/{{sighting.username}}">{{ sighting.username }}</a>
    </p>

    <p>
        <i>Time:</i> {{ sighting[2].strftime("%Y-%m-%d %H:%M") }}
    </p>
    <p>
        <i>Location:</i> {{sighting.location}}
    </p>

    <hr>

{% endfor %}





{% endblock %}