<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}
<script>topnav_activate('topnav_home')</script>

<br>
<div class="div1">
    <img src="/static/images/frontpage_bird.jpg" width="400" height="550"/>
    <br>
    Ultimate fun! Watch birds and post your sightings!
</div>

<h3>Recent sightings:</h3>

<hr>
{% for sighting in sightings[0:5] %}
    <!-- Sighting info. -->
    <h3>
        <a href="/sighting/{{sighting.id}}"> {{ sighting.bird_name }} </a>
    </h3>
    <p>
        <i>User:</i> <a href="/profile/{{sighting.username}}">{{ sighting.username }}</a>
    </p>

    <p>
        <!-- sighting[2] is 'time' and sightings.time... cause error. -->
        <i>Time:</i> {{ sighting[2].strftime("%Y-%m-%d %H:%M") }}
    </p>
    <p>
        <i>Location:</i> {{sighting.location}}
    </p>

    <hr>
{% endfor %}

{% endblock %}



        


