<!DOCTYPE html>


<title>BirdWatcher</title>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/script.js"></script>


        <h1>BirdWatcher</h1>
        {% if session.user_id %}
        <div class="topnav" id="topnavDIV">
            <a class="active" href="/">Home</a>
            <a class="" href="/sightings">Sightings</a>
            <a class="" href="/new_sighting">New sighting</a>
            <a class="" href="/own_page">Own page</a>
            <a class="" href="/logout">Log out</a>
            {% if session.admin %}
                <a class="" href="/management">Management</a>
            {% endif %}
        </div>
        {% else %}
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a class="" href="/sightings">Sightings</a>
            <a class="" href="/register">Sign up!</a>
            <a class="" href="/login">Log in</a>
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>
