{% extends "layout.html" %}
{% block content %}
<script>topnav_activate('topnav_management')</script>
<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col">
            <!-- Only admin can promote and demote moderators. -->
            {% if session.admin %}
            <div class="card" style="margin: 25px;">
                <h5 class="card-header">Moderators</h5>
                <div class="card-body">
                    <form action="/management" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <div class="form-group"> 
                            <label for="promote_username"><b>Make user moderator</b></label>
                            <input type="text" id="promote_username" class="form-control" name="promote_username" placeholder="Username" minlength="1" maxlength="20" required>
                        </div>
                        {% if moderator_message %}
                        <div style="display: flex; justify-content: center;">
                            <div class="alert alert-danger" role="alert">
                                <b>{{moderator_message}}</b>
                            </div>
                        </div>  
                        {% endif %}
                        <div style="display: flex; justify-content: center;">
                            <input type="submit" class="btn btn-primary"  value="Promote">
                        </div>
                    </form>
                </div>
                <!-- List of moderators -->
                <div class="card-body" style="max-height: 400px; overflow-y: auto;">
                    <h4 class="card-title" style="text-align: center;">List of moderators</h4>
                    {% for moderator in moderators %}
                    <div class="row justify-content-around" style="margin: 20px;">
                        <div class="col">
                            <h5 class="card-title">{{moderator.username}}</h5>
                        </div>
                        <div class="col" style="text-align: end;">
                            <form action="/management" method="post">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input type="hidden" name="demote_username" value="{{moderator.id}}">
                                <input type="submit" class="btn btn-danger" value="Demote">
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- Admin and moderators can ban and unban users. -->
            <div class="card" style="margin: 25px;">
                <h5 class="card-header">Blacklist</h5>
                <div class="card-body">
                    <form action="/management" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <div class="form-group"> 
                            <label for="reason"><b>Ban user</b></label>
                            <input type="text"  class="form-control" name="ban_username" minlength="1" maxlength="20" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <textarea id="reason" class="form-control" name="reason"  rows="3" cols="40" maxlength="500" placeholder="Reason for ban?" required></textarea>
                        </div>
                        {% if ban_message %}
                        <div style="display: flex; justify-content: center;">
                            <div class="alert alert-danger" style="display: flex; justify-content: center;" role="alert">
                                <b>{{ban_message}}</b>
                            </div>
                        </div>
                        {% endif %}
                        <div style="display: flex; justify-content: center;">
                            <input type="submit" class="btn btn-danger"  value="Ban">
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Banned users</h4>
                    {% for user in blacklist %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <h5 class="card-title">{{user.username}}</h5>
                                </div>
                                <div class="col" style="text-align: end;">
                                    <p class="card-text">{{user.date.strftime("%Y-%m-%d")}}</p>
                                </div>
                            </div>
                            <p class="card-text">{{user.reason}}</p>
                            <div style="display: flex; justify-content: center;">
                                <form action="/management" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="unban_username" value="{{user.username}}">
                                    <input type="submit" class="btn btn-danger" value="Unban">
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col" style="margin-top: 25px;">
            <img src="/static/images/management_image.jpg" class="img-fluid" style="border-radius: 400px;" >
            <h2 style="text-align: center;">I'm watching you!</h2>
        </div>
    </div>
</div>
{% endblock %}