{% extends "layout.html" %}
{% block content %}

<p>King of the world!</p>

<ul>
    These options will be added here:
    <li>If you are admin, you can give and take away moderator rights for users.</li>
    <li>Admin and moderators can ban and unban users.</li>
    <li>Admin and moderators can delete comments or sightings.</li>
</ul>

    {% if session.admin %}
        Make user moderator:
        <form action="/management" method="post">
            <input type="text" name="promote_username">
            <input type="submit" value="Promote">
        </form>

        <ul>
            Moderators:
            {% for moderator in moderators %}
            <li>
                <p>
                    {{moderator.username}}&emsp;  
                    <form action="/management" method="post">
                        <input type="hidden" name="demote_username" value="{{moderator.username}}">
                        <input type="submit" value="Demote">
                    </form>
                </p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}


<p>
    <span style="color: red">{{ message }}</span> 
</p>

{% endblock %}