{% extends "layout.html" %}
{% block content %}
<script>topnav_activate('topnav_new_sighting')</script>


<form action="/new_sighting" method="POST" enctype="multipart/form-data">
    <!-- birdname selector -->
    <div class="wrapper2">
        <div class="select-btn">
            {% if input_data[0] %}
                <span>{{input_data[0]}}</span>
                <input type="hidden" id="hiddenInput" value="{{input_data[0]}}" name="bird_name">
            {% else %}
                <span>Select bird</span>
                <input type="hidden" id="hiddenInput" value="" name="bird_name">
            {% endif %}
            <i class="uil uil-angle-down"></i>
        </div>
        <div class="content">
            <div class="search">
                <i class="uil uil-search"></i>
                <input spellcheck="false" type="text" placeholder="search">
            </div>
            <ul class="options"></ul>
        </div>
        <script> let birdlist = {{ birdnames|tojson }}; </script>
        <script src="/static/selectbird.js"></script>
    </div>

    

    <p>
        
        Time and date: <input id="dt" type="datetime-local" name="time" min="1900-01-01T00:00" value="{{input_data[1]}}" required >
        <!-- Set datetime-local input value and max date to current time. -->
        {% if not input_data[1] %}
        <script>
            var dateVal = new Date();
            var day = dateVal.getDate().toString().padStart(2, "0");
            var month = (1 + dateVal.getMonth()).toString().padStart(2, "0");
            var hour = dateVal.getHours().toString().padStart(2, "0");
            var minute = dateVal.getMinutes().toString().padStart(2, "0");
            var inputDate = dateVal.getFullYear() + "-" + (month) + "-" + (day) + "T" + (hour) + ":" + (minute);
            document.getElementById("dt").value = inputDate;
            document.getElementById("dt").setAttribute("max", inputDate)
        </script>
        {% endif %}

    </p>
    <p>
        Location: <input type="text" name="location" min="1" max="50" value="{{input_data[2]}}" required>
    </p>
    <p>
        Additional information: <br>
        <textarea name="additional_info" rows="3" cols="40" maxlength="500">{{input_data[3]}}</textarea>
    </p>
    <p>
        Add image:<br>

        <input type="file" name="image">

    </p>
    <input type="submit" value="Send">
</form>
<p>
    <span style="color: red">{{ message }}</span>
</p>
<a href="/sightings">Cancel</a>



{% endblock %}

