{% extends "layout.html" %}
{% block content %}
<script>topnav_activate('topnav_own_page')</script>
<style type="text/css">
    body {
        background-image: url(/static/images/own_page_image.jpg);
        background-position: 0 120px !important;
        }
</style>
{% if session.user_id %}
<div class="container-fluid">
    <div class="row justify-content-around vh-100" style="margin-top: 25px;">
        <!-- Own sightings -->
        <div class="col-4">
            <div class="card overflow-auto">
                <h5 class="card-header">Your own sightings</h5>
                <div class="sightings-box">    
                    {% for sighting in sightings %}
                    <div class="sightings-box-content" onclick="location.href='/sighting/{{sighting.id}}'">
                        <div class="card" style="margin: 5px;">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <h5 class="card-title">{{ sighting.bird_name }}</h5>
                                    </div>
                                    <div class="col" style="text-align: end;">
                                        <p class="card-text">{{ sighting[3].strftime("%Y-%m-%d %H:%M") }}</p>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <p class="card-text">{{ sighting.location }}</p>
                                    </div>
                                    <div class="col" style="text-align: end;">
                                        <p class="card-text">
                                            {% if nof_comments[sighting.id] %}
                                            Comments: {{ nof_comments[sighting.id] }}
                                            {% else %}
                                            Comments: 0
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content: center; margin: 10px;">
                    <a href="/new_sighting" class="btn btn-primary">Post new sighting!</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Profile -->
            <div class="card" id="profile_card" style="display: block;">
                <h5 class="card-header">Your profile</h5>
                <div class="card-body">
                    <label for="favourite_bird1"><b>Favourite bird:</b></label>
                    <p class="card-text" id="favourite_bird1">{{profile.favourite_bird}}</p>
                    <label for="age1"><b>Age:</b></label>
                    <p class="card-text" id="age1">{{profile.age}}</p>
                    <label for="bio1"><b>Bio:</b></label>
                    <p class="card-text" id="bio1">{{profile.bio}}</p>
                </div>
                <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
                    <button class="btn btn-primary" onclick="edit_profile_btn('profile_card', 'edit_profile_card')">Edit your profile</button>
                    <button class="btn btn-primary" onclick="edit_profile_btn('profile_card', 'change_password_card')">Change password</button>
                </div>
            </div>
            <!-- Edit profile -->
            <div class="card" id="edit_profile_card" style="display: none;">
                <h5 class="card-header">Your profile</h5>
                <div class="card-body">
                    <form action="/own_page" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <div class="form-group"> 
                            <label for="favourite_bird2"><b>Favourite bird:</b></label>
                            <input type="text" id="favourite_bird2" class="form-control" name="favourite_bird" minlength="2" maxlength="40" value="{{profile.favourite_bird}}">
                        </div>
                        <div class="form-group">
                            <label for="age2"><b>Age:</b></label>
                            <input type="number" id="age2" class="form-control" name="age" min="1" max="120" value="{{profile.age}}">
                        </div>
                        <div class="form-group">
                            <label for="bio2"><b>Bio:</b></label>
                            <textarea id="bio2" class="form-control" name="bio"  rows="3"  maxlength="500" aria-describedby="bioHelp">{{profile.bio}}</textarea>
                            <small id="bioHelp" class="form-text text-muted">Tell something about yourself.</small>
                        </div>
                        <div class="alert alert-light" style="display: flex; justify-content: center;" role="alert">
                            <b>{{message_profile}}</b>
                        </div>
                        <div style="display: flex; justify-content: space-around;">
                            <button class="btn btn-primary" onclick="edit_profile_btn('profile_card', 'edit_profile_card')">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Update">
                        </div>
                    </form>
                </div>    
            </div>
            <!-- Change password -->
            <div class="card" id="change_password_card" style="display: none;">
                <h5 class="card-header">Your profile</h5>
                <div class="card-body">
                    <form action="/own_page" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <div class="form-group"> 
                            <label for="old_password"><b>Old password</b></label>
                            <input type="password" id="old_password" class="form-control" name="old_password" minlength="1" maxlength="40" required>
                        </div>
                        <div class="form-group">
                            <label for="password1"><b>New password</b></label>
                            <input type="password" id="password1" class="form-control" name="password1" minlength="1" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label for="password2"><b>New password again</b></label>
                            <input type="password" id="password2" class="form-control" name="password2"  minlength="1"  maxlength="20" required>
                        </div>
                        <div class="alert alert-light" style="display: flex; justify-content: center;" role="alert">
                            <b>{{message_password}}</b>
                        </div>
                        <div style="display: flex; justify-content: space-around;">
                            <button class="btn btn-primary" onclick="edit_profile_btn('profile_card', 'change_password_card')">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Change password">
                        </div>
                    </form>
                </div>    
            </div>
            <!-- Users own follows -->
            <div class="card">
                <h5 class="card-header">You are following</h5>
                <div class="card-body" style="max-height: 200px; overflow-y: auto;">
                    {% for item in follows %}
                    <p class="card-text"><a href="/profile/{{item.username}}">{{item.username}}</a></p> 
                    {% endfor %}
                </div>
                <div class="card-body">
                    <form action="/own_page" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <div class="form-group"> 
                            <label for="start_follow"><b>Start following</b></label>
                            <input type="text" id="start_follow" class="form-control" name="follow_username" minlength="1" maxlength="30">
                        </div>
                        <div class="alert alert-light" style="display: flex; justify-content: center;" role="alert">
                            <b>{{message_follow}}</b>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <input type="submit" class="btn btn-primary" value="Follow">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Users followers -->
            <div class="card" >
                <h5 class="card-header">Your followers</h5>
                <div class="card-body" style="max-height: 200px; overflow-y: auto;">
                    {% for item in followers %}
                    <p class="card-text"><a href="/profile/{{item.username}}">{{item.username}}</a></p> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .sightings-box {max-height: 700px; overflow-y: auto;}
    .sightings-box-content:hover .card{background-color: #04AA6D;}
    .sightings-box-content:hover .card-header {background-color: #03774c;} 
    .sightings-box-content:hover .card-title {color: white;}
    .sightings-box-content:hover .card-text {color: white;}
</style>
{% if message_password %}
<script>edit_profile_btn('profile_card', 'change_password_card');</script>
{% endif %}
{% if message_profile %}
<script>edit_profile_btn('profile_card', 'edit_profile_card');</script>
{% endif %}
{% else %}
<div class="container-fluid">
    <div class="row vh-100 justify-content-center align-items-center">
        <a class="btn btn-primary" href="/login">
            <h3>Log in to view your own page</h3>
        </a>
    </div>
</div>
{% endif %}

{% endblock %}

