{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}

<h2>{{username}}</h2>
<!-- Profile bio -->
<div id="bio_div" style="display: block;">
    <ul>
        {% if bio.name %}
            <li>Favourite bird: {{bio.name}}</li>
        {% endif %}
        {% if bio.name %}
            <li>Age:{{bio.age}}</li>
        {% endif %}
        {% if bio.name %}
            <li>Bio:</li>  
            <li>
                <div class="biobox">
                    {{bio.bio}}
                </div>
            </li>
        {% endif %}
    </ul>
</div>



    {% if follower %}
        <form action="/profile/{{username}}" method="POST">
            <p>
                <input type="hidden" name="follow_btn" value="unfollow">
                <input type="submit" value="Unfollow {{username}}">
            </p>
        </form>
    {% else %}
        <form action="/profile/{{username}}" method="POST">
            <p>
                <input type="hidden" name="follow_btn" value="follow">
                <input type="submit" value="Follow {{username}}">
            </p>
        </form>
    {% endif %}

<h2>{{username}} bird sightings:</h2>
<hr>
<!-- List all sightings. -->
{% for sighting in sightings %}

    <!-- Sighting info. -->
    <h3>
        <a href="/sighting/{{sighting.id}}"> {{ sighting.bird_name }} </a>
    </h3>

    <p>
        <!-- sighting[2] is 'time' and sightings.time... cause error. -->
        <i>Time:</i> {{ sighting[2].strftime("%Y-%m-%d %H:%M") }}
    </p>
    <p>
        <i>Location:</i> {{sighting.location}}
    </p>

    <hr>

{% endfor %}

<p>
    <span style="color: red">{{ message }}</span> 
</p>

{% else %}

<p>Log in to view other people sightings!</p>

{% endif %}



{% endblock %}