{% extends "layout.html" %}
{% block content %}
<script>topnav_activate('topnav_register')</script>

<div class="container-fluid" style="background-image: url(/static/images/register_image.jpg);">
    <div class="row vh-100 justify-content-center">
        <div class="col-4 align-self-center">
            <div class="card">
                <div class="card-body">
                    <h2>Create a new account!</h2>
                    <form action="/register" method="post">
                        <div class="form-group"> 
                            <label for="username"><b>Username</b></label>
                            <input type="text" class="form-control" name="username" minlength="1" maxlength="20" value="{{input_data[0]}}" required>
                        </div>
                        <div class="form-group">
                            <label for="password1"><b>Password</b></label>
                            <input type="password" class="form-control" name="password1" minlength="1" maxlength="20" value="{{input_data[1]}}" required>
                        </div>
                        <div class="form-group">
                            <label for="password2"><b>Password again</b></label>
                            <input type="password" class="form-control" name="password2" minlength="1" maxlength="20" value="{{input_data[2]}}" required>
                        </div>
                        <div class="form-group">
                            <label for="favourite_bird"><b>Favourite bird</b></label>
                            <input type="text" class="form-control" name="favourite_bird" minlength="1" maxlength="20" value="{{input_data[3]}}" placeholder="optional">
                        </div>
                        <div class="form-group">
                            <label for="age"><b>Age</b></label>
                            <input type="number" class="form-control" name="age" min="1" max="120" value="{{input_data[4]}}" placeholder="optional">
                        </div>
                        <div class="form-group">
                            <label for="bio"><b>Bio</b></label>
                            <textarea class="form-control" name="bio"  rows="3"  maxlength="500" aria-describedby="bioHelp" placeholder="optional">{{input_data[5]}}</textarea>
                            <small id="bioHelp" class="form-text text-muted">Tell something about yourself.</small>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <input type="submit" class="btn btn-primary" value="Register">
                        </div>
                    </form>
                    <div class="alert alert-light" style="display: flex; justify-content: center;" role="alert">
                        <b>{{message}}</b>
                    </div>
                </div>    
            </div>    
        </div>
    </div>
</div>

{% endblock %}
