{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    body {
        background-image: url(/static/images/login_image.jpg);
        background-position: 0 120px !important;
        }
</style>
{% if session.user_id %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 align-self-center">
            <div class="card" style="margin: 25px;">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h5>Sighting details</h5>
                        </div>
                        <div class="col" style="text-align: end;">
                            <h5><a href="/profile/{{sighting.username}}">{{ sighting.username }}</a></h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{sighting.bird_name}}</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Order</th>
                                <th scope="col">Family (scientific)</th>
                                <th scope="col">Family</th>
                                <th scope="col">Genus</th>
                                <th scope="col">Species (scientific)</th>
                                <th scope="col">Authority</th>
                                <th scope="col">Breeding range</th>
                                <th scope="col">Subregions</th>
                                <th scope="col">Nonbreeding range</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{bird_details.orders}}</td>
                                <td>{{bird_details.family_sci}}</td>
                                <td>{{bird_details.family_en}}</td>
                                <td>{{bird_details.genus}}</td>
                                <td>{{bird_details.species_sci}}</td>
                                <td>{{bird_details.authority}}</td>
                                <td>{{bird_details.breeding_range}}</td>
                                <td>
                                    {% if bird_details.breeding_range_subregions %}
                                        {{bird_details.breeding_range_subregions}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if bird_details.nonbreeding_range %}
                                        {{bird_details.nonbreeding_range}}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-between">
                        <div class="col align-self-center">
                            <p class="card-text">Date and time: {{ sighting[2].strftime("%Y-%m-%d %H:%M") }}</p>
                            <p class="card-text">Location: {{sighting.location}}</p>
                            <p class="card-text">Additional info: {{sighting.additional_info}}</p>
                        </div>
                        <div class="col">
                            {% if image %}
                            <img src="data:image/jpg;base64,{{image}}" class="card-img-bottom">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-end" style="margin:auto;">
                        <!-- Admin, moderator or user who posted the sighting can delete it. -->
                        {% if session.username == sighting.username or session.moderator or session.admin %}
                        <form action="/sighting/{{id}}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="hidden" name="sighting_id" value="{{id}}">
                            <div style="display: flex; justify-content: end; margin-top: 25px;">
                                <input type="submit" class="btn btn-primary" value="Delete Sighting">
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <h6 class="card-header" style="margin-top: 20px;">Comments:</h6>
                <div style="max-height: 500px; overflow-y: auto;">
                    {% for comment in comments %}
                        <div class="card" style="margin-left: 200px; margin-right: 200px;">
                            <div class="card-body">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <h6 class="card-title"><a href="/profile/{{comment.username}}">{{comment.username}}</a></h6>
                                    </div>
                                    <div class="col" style="text-align: end;">
                                        <h6 class="card-title">{{comment.sent_at.strftime("%Y-%m-%d %H:%M")}}</h6>
                                    </div>
                                </div>
                                <p class="card-text">{{comment.content}}</p>
                                <!-- Admin, moderator or user who posted the comment can delete it. -->
                                {% if session.username == comment.username or session.moderator or session.admin %}
                                <form action="/sighting/{{id}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="comment_id" value="{{comment.id}}">
                                    <div style="display: flex; justify-content: end;">
                                        <input type="submit" class="btn btn-primary" value="Delete comment">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div style="margin-top: 25px; margin-bottom: 25px;">
                    <form action="/sighting/{{id}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="sighting_id" value="{{id}}">
                        <div class="form-group" style="margin-left: 200px; margin-right: 200px;">
                            <label for="comment"><b>Make new comment</b></label>
                            <textarea id="comment" class="form-control" name="new_comment" rows="3" maxlength="500"></textarea>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <input type="submit" class="btn btn-primary" value="Comment">
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container-fluid">
    <div class="row vh-100 justify-content-center align-items-center">
        <a class="btn btn-primary" href="/login">
            <h3>Log in to view sighting details</h3>
        </a>
    </div>
</div>
{% endif %}





{% endblock %}